<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Pricing Table
                <small>Our Pricing Options</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Pricing Table</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Basic</strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">Free
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Scan texts</li>
                    <li class="list-group-item">Save as .pdf, .txt, .doc</li>
                    <li class="list-group-item">Send to multiple devices</li>
                    <li class="list-group-item">Files not stored</li>
                    <li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Plus</strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">$9
                        <span class="price-cents">99</span>
                        <span class="price-month">mo.</span>
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Scan text and images</li>
                    <li class="list-group-item">Save as .pdf, .txt, .doc</li>
                    <li class="list-group-item">Send to multiple devices</li>
                    <li class="list-group-item">Files stored for 30 days</li>
                    <li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Premium <span class="label label-success">Best Value!</span></strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">$29
                        <span class="price-cents">99</span>
                        <span class="price-month">mo.</span>
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Scan text, images and charts</li>
                    <li class="list-group-item">Save as .pdf, .txt, .doc</li>
                    <li class="list-group-item">Send to multiple devices</li>
                    <li class="list-group-item">File Manager for infinite storage duration</li>
                    <li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>
<!-- /.container -->

